<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <script type="text/javascript" src="{{url_for('static', filename='other/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='other/jquery.cookie.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='other/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='content.js')}}"></script>
    <link href="{{url_for('static', filename='other/bootstrap.min.css')}}" rel="stylesheet">
    <style>
         body {
            padding-top: 5rem;
             padding-left: 2rem;
        }
        .alert-primary {
            color: #004085;
            background-color: #cce5ff;
            border-color: #b8daff;
        }
    </style>
    <script type="application/javascript">
        var cID = "{{ cid }}";
        var isPublicContent = "{{public}}";
    </script>
</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/feed">PriCoSha</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/groups">Groups <span class="sr-only">(current)</span></a>
              </li>

            </ul>
            <div class="nav-item dropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="/logout">Sign Out</a>
                        </div>
                    </li>
            </ul>
            </div>
          </div>
    </nav>

    <div class="content-area">
        <div class="picture-area" id="picture_field">
            <img id="picture" src="/uploads/{{ path }}" style="width:800px">
        </div>
        <div id="content_detail">
            <h3>{{ contentname }}</h3>
            <p>Uploader: {{ owner }}</p>
            <p>Time uploaded: {{ timest }}</p>
            <div class="tag-area">
                <div class="msgbox_tag_after" hidden="hidden">
                    <div class="alert alert-success" id="msg_tag_after"></div>
                </div>
                <button class="btn btn-secondary" id="tagButton" data-toggle="modal" data-target="#tagPeopleModal">+ Tag Someone</button>

                <div class="modal fade show" id="tagPeopleModal" >
                    <div class="modal-dialog">
                      <div class="modal-content">

                         <div class="modal-header">
                              <h4 class="modal-title">Tag people:</h4>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                         </div>

                          <div class="modal-body">
                              <div class="msgbox_tag" hidden="hidden">
                                  <div class="alert alert-primary" id="msg_tag">
                                  </div>
                              </div>
                              <ul class="list-group" id="peopleList">

                              </ul>
                          </div>

                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          </div>
                      </div>
                    </div>
                </div>


                <p>Tagged users:</p>
                <p id="tagList"></p>
            </div>

        </div>
    </div>
    <h4>Leave a comment:</h4>
    <div class="submit-comment-area" >
        <div class="comment-box">
            <textarea id="comment-text" maxlength="200"></textarea>
        </div>

        <button class="btn btn-primary" id="submitButton">Submit</button>
    </div>

    <div class="comment-area">
        <h4>Comments: </h4>
        <div class="msgbox_comment" hidden="hidden">
            <div class="alert alert-primary" id="msg_comment"></div>
        </div>
        <div id="comment-list">

        </div>
    </div>




</body>
</html>