<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricosha Feed</title>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='feed.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.cookie.js')}}"></script>

</head>
<body>
	<h1>Welcome {{username}}</h1>
	<a href="/logout">Log out</a>
	<h2>This is feed page</h2>

    <div class="upload_box">
        <form action="/uploadContent" method="POST" enctype="multipart/form-data">
            <p>Select File:</p><input type="file" name="file">
            <p>Set as private</p><input type="checkbox" name="privacy">
            <input type="submit"value="Upload">
        </form>
    </div>
    <div class="msgbox" hidden="hidden">
            <p id="msg"></p>
    </div>
    <div class="content_feed">
        <table class="table_feed" id="feed_list">

        </table>
    </div>

    <div>

    </div>
</body>
</html>