<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricosha Feed</title>
    <script type="text/javascript" src="{{url_for('static', filename='other/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='feed.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='other/jquery.cookie.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='other/bootstrap.min.js')}}"></script>
    <link href="{{url_for('static', filename='other/bootstrap.min.css')}}" rel="stylesheet">
    <style>
        body {
            min-height: 75rem;
            padding-top: 3rem;
            background-color: #ffffff;
        }
        .alert-primary {
            color: #004085;
            background-color: #cce5ff;
            border-color: #b8daff;
        }

        .card-columns{
            padding-left: 2rem;
            padding-top: 2rem;
            column-count: 6;
        }
        .dropdown-menu{

        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous">

    </script>
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/feed">PriCoSha</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/groups">Groups <span class="sr-only">(current)</span></a>
              </li>

            </ul>
            <div class="nav-item dropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="/logout">Sign Out</a>
                        </div>
                    </li>
            </ul>
            </div>
          </div>
    </nav>

  <div class="jumbotron">
<!--
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stack1">
        Upload
      </button>

      <div id="stack1" class="modal fade" style="display: none;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Stack One</h4>
          </div>
            <form action="/uploadContent" method="POST" enctype="multipart/form-data">
              <div class="modal-body">
                  <div class="upload_box">
                        <div class="msgbox_group" hidden="hidden">
                            <div class="alert alert-danger" id="msg_group"></div>
                        </div>
                        Give it a title:<input type="text" id="title" class="form-control" placeholder="Title" name="contname" required="required">
                        <p></p><input class="btn btn-secondary" type="file" name="file">
                        <input type="text" id="groupSelect" name="groupname" value="public" hidden="hidden">
                        <div class="nav-item dropdown">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sharing Option</a>
                                    <p id="shareTo"></p>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" id="selPublic" href="#">Public</a>
                                        <a class="dropdown-item" id="selPrivate" href="#stack2" data-toggle="modal"
                                                data-target="#groupModal">Share to group...</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </div>
              </div>
            </form>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn btn-primary">Ok</button>
          </div>
        </div>

        <div id="stack2" class="modal fade" tabindex="-1" style="display: none;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Stack Two</h4>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn btn-primary">Ok</button>
          </div>
        </div>
  </div>
-->

      <h2>Share Content</h2>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
        Upload
      </button>
      <div class="modal fade" id="uploadModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title">Content Upload</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="/uploadContent" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="upload_box">
                        <div class="msgbox_group" hidden="hidden">
                            <div class="alert alert-danger" id="msg_group"></div>
                        </div>
                        Give it a title:<input type="text" id="title" class="form-control" placeholder="Title" name="contname" required="required">
                        <p></p><input class="btn btn-secondary" type="file" name="file">
                        <input type="text" id="groupSelect" name="groupname" value="public" hidden="hidden">
                        <div class="nav-item dropdown">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sharing Option</a>
                                    <p id="shareTo"></p>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" id="selPublic" href="#">Public</a>
                                        <a class="dropdown-item" id="selPrivate" href="#groupModal" data-toggle="modal"
                                                data-target="#groupModal">Share to group...</a>

                                    </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Upload">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal fade" id="groupModal">
                                            <div class="modal-dialog">
                                              <div class="modal-content">

                                                 <div class="modal-header">
                                                      <h4 class="modal-title">Select a group:</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                 </div>

                                                  <div class="modal-body">
                                                      <div class="list-group" id="groupList">
                                                      </div>
                                                  </div>

                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                  </div>


                                              </div>
                                            </div>
      </div>
  </div>

    <h2>Posts</h2>
    <div class="msgbox" hidden="hidden">
            <div class="alert alert-primary" id="msg"></div>
    </div>
    <div class="content_feed">

        <div class="card-columns" id="feed_list">

        </div>
    </div>



</body>
</html>