<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <script type="text/javascript" src="{{url_for('static', filename='other/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='group.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='other/jquery.cookie.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='other/bootstrap.min.js')}}"></script>
    <link href="{{url_for('static', filename='other/bootstrap.min.css')}}" rel="stylesheet">
    <style>
        body {
            min-height: 75rem;
            padding-top: 3rem;
            background-color: #ffffff;
        }
        .alert-primary {
            color: #004085;
            background-color: #cce5ff;
            border-color: #b8daff;
        }

        .card-columns{
            padding-left: 2rem;
            padding-top: 2rem;
            column-count: 6;
        }
    </style>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/feed">PriCoSha</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/groups">Groups <span class="sr-only">(current)</span></a>
              </li>

            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="/logout">Sign Out</a>
                </div>
            </div>
          </div>
    </nav>

    <div class="jumbotron">
      <h2>Create a group</h2>
      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
        Create
      </button>
  <!-- The Modal -->
      <div class="modal fade" id="uploadModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title">Create Group</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="msgbox_create" hidden="hidden">
                    <div class="alert alert-danger" id="msg_create"></div>
                </div>
                <div class="upload_box">
                        Give it a catchy name:<input type="text" id="groupname" class="form-control" placeholder="Group name" name="groupname" required="required" maxlength="50">
                        Give it a short description(optional):<input type="text" id="description" class="form-control" placeholder="Description" name="description" maxlength="50">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="create" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>

          </div>
        </div>
      </div>
  </div>

    <div>
        <h2>My Groups</h2>
        <div class="msgbox_my" hidden="hidden">
            <div class="alert alert-primary" id="msg_my"></div>
        </div>
        <div class="content_feed">
            <div class="rows" id="my_group_list">

            </div>
        </div>
    </div>
    <div>
    <h2>All Groups</h2>
        <div class="msgbox_all" hidden="hidden">
            <div class="alert alert-primary" id="msg_all"></div>
        </div>
        <div class="content_feed">
            <div class="rows" id="all_group_list">

            </div>
        </div>
    </div>
</body>
</html>